{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-container">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="login-card">
            <div class="login-top-actions">
                <a href="{{ path('app_home') }}">Accueil</a>
                <div>
                    {% if app.user %}
                        Tu es connecté : <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        Nouveau ici ? <a href="{{ path('app_register') }}">Crée ton compte</a>
                    {% endif %}
                </div>
            </div>

            <h1>Connexion</h1>

            <form method="post">
                <div class="form-group">
                    <label for="inputUsername">Nom d'utilisateur ou Adresse Email</label>
                    <input type="text" value="{{ last_username|default('') }}" name="_username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn-login-submit" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
{% endblock %}
