{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="navigation-bar">
        {% if app.user %}
            <span class="user-welcome">
            <strong>{{ app.user.username }}</strong>

            {% set progressions = app.user.progressionNumber %}
                {% set medias = app.user.mediaType %}
                {% if progressions is not empty %}
                    (
                    {%- if 'Manga' in medias and progressions.Manga is defined -%}
                        Chapitre {{ progressions.Manga }}
                    {%- endif -%}

                    {%- if 'Manga' in medias and 'Anime' in medias -%}
                        &nbsp;/&nbsp;
                    {%- endif -%}

                    {%- if 'Anime' in medias and progressions.Anime is defined -%}
                        Episode {{ progressions.Anime }}
                    {%- endif -%})
                {% endif %}
        </span>

            <a href="{{ path('app_logout') }}" class="btn-logout">Logout</a>

        {% else %}
            <a href="{{ path('app_login') }}" class="btn-login">Login</a>
            <a href="{{ path('app_register') }}" class="btn-register">Register</a>
        {% endif %}
    </div>

{% endblock %}
