{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="register-container">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="register-card">
            <div class="register-top-actions">
                <a href="{{ path('app_home') }}">Accueil</a>
                <div>
                    Tu as déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a>
                </div>
            </div>

            <h1>Inscription</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <div class="media_type">
                {{ form_row(registrationForm['media_type']) }}

                <div id="wrapper-anime" class="progression_choice" style="display: none;">
                    {{ form_row(registrationForm.progressionAnime) }}
                </div>

                <div id="wrapper-manga" class="progression_choice" style="display: none;">
                    {{ form_row(registrationForm.progressionManga) }}
                </div>
            </div>

            <button type="submit" class="btn-register-submit">S'inscrire et rejoindre l'équipage</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            const checkAnime = document.getElementById('registration_form_media_type_0'); // anime
            const checkManga = document.getElementById('registration_form_media_type_1'); // manga
            const checkBoth = document.getElementById('registration_form_media_type_2');  // both

            const divAnime = document.getElementById('wrapper-anime');
            const divManga = document.getElementById('wrapper-manga');

            function updateVisibility() {

                const showAnime = (checkAnime && checkAnime.checked) || (checkBoth && checkBoth.checked);
                const showManga = (checkManga && checkManga.checked) || (checkBoth && checkBoth.checked);


                if (divAnime) {
                    const inputAnime = divAnime.querySelector('input');
                    if (showAnime) {
                        divAnime.style.display = 'block';
                        inputAnime?.setAttribute('required', 'required');
                    } else {
                        divAnime.style.display = 'none';
                        inputAnime?.removeAttribute('required');
                        if (inputAnime) inputAnime.value = '0';
                    }
                }

                if (divManga) {
                    const inputManga = divManga.querySelector('input');
                    if (showManga) {
                        divManga.style.display = 'block';
                        inputManga?.setAttribute('required', 'required');
                    } else {
                        divManga.style.display = 'none';
                        inputManga.removeAttribute('required');
                        if (inputManga) inputManga.value = '0';
                    }
                }
            }

            if (checkManga) checkManga.addEventListener('change', updateVisibility);
            if (checkAnime) checkAnime.addEventListener('change', updateVisibility);
            if (checkBoth) checkBoth.addEventListener('change', updateVisibility);

            updateVisibility();
        });
    </script>
{% endblock %}
