{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="acc-button">
        <a href="{{ path('app_home') }}">Accueil</a>
    </div>
    <div class="acc-button">
        Tu as deja un compte ?<a href="{{ path('app_login') }}">Connexion</a>
    </div>


    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <div class="media_type">
        {{ form_row(registrationForm['media_type']) }}

        <div id="wrapper-anime" class="progression_choice" style="display: none;">
            {{ form_row(registrationForm.progressionAnime) }}
        </div>

        <div id="wrapper-manga" class="progression_choice" style="display: none;">
            {{ form_row(registrationForm.progressionManga) }}
        </div>

    </div>

    <button type="submit" class="btn btn-primary w-100 mt-4">S'inscrire</button>
    {{ form_end(registrationForm) }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            const checkAnime = document.getElementById('registration_form_media_type_0'); // anime
            const checkManga = document.getElementById('registration_form_media_type_1'); // manga
            const checkBoth = document.getElementById('registration_form_media_type_2');  // both

            const divAnime = document.getElementById('wrapper-anime');
            const divManga = document.getElementById('wrapper-manga');

            function updateVisibility() {

                const showAnime = (checkAnime && checkAnime.checked) || (checkBoth && checkBoth.checked);
                const showManga = (checkManga && checkManga.checked) || (checkBoth && checkBoth.checked);


                if (divAnime) {
                    const inputAnime = divAnime.querySelector('input');
                    if (showAnime) {
                        divAnime.style.display = 'block';
                        inputAnime?.setAttribute('required', 'required');
                    } else {
                        divAnime.style.display = 'none';
                        inputAnime?.removeAttribute('required');
                        if (inputAnime) inputAnime.value = '0';
                    }
                }

                if (divManga) {
                    const inputManga = divManga.querySelector('input');
                    if (showManga) {
                        divManga.style.display = 'block';
                        inputManga?.setAttribute('required', 'required');
                    } else {
                        divManga.style.display = 'none';
                        inputManga.removeAttribute('required');
                        if (inputManga) inputManga.value = '0';
                    }
                }
            }

            if (checkManga) checkManga.addEventListener('change', updateVisibility);
            if (checkAnime) checkAnime.addEventListener('change', updateVisibility);
            if (checkBoth) checkBoth.addEventListener('change', updateVisibility);

            updateVisibility();
        });
    </script>
{% endblock %}
